.homepage
	text-align: center

	.options
		display: flex
		flex-direction: column
		align-items: center

		a
			text-decoration: none
			color: #fff
			margin-top: 10px
			padding: 10px 35px

			&:hover
				color: black
				background-color: #b19cd9
				transition: .5s

		.spotify
			background-color: green

		.deezer
			background-color: blue

		.ytMusic
			background-color: red