@import "./_vars"
@import "./assets/styles/_mixins"
@import "./assets/styles/_forms"
@import "./assets/styles/_helpers"
@import "./assets/styles/_status"
@import "./assets/styles/_monica"

\:root
  --spacing: #{$spacing-unit}

  +media-query($on-laptop)
    --spacing: #{$spacing-unit / 2}

html
  scroll-behavior: smooth
  line-height: 1.15
  -ms-text-size-adjust: 100%
  -webkit-text-size-adjust: 100%
  height: -webkit-fill-available // bug no iPhone *

body
  min-height: -webkit-fill-available
  margin: 0
  padding: 0
  -webkit-font-feature-settings: "kern" 1
  -moz-font-feature-settings: "kern" 1
  -o-font-feature-settings: "kern" 1
  font-feature-settings: "kern" 1
  font-kerning: normal
  font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family
  background-color: $background-color
  color: $text-color

  #root
    display: flex
    min-height: 100vh
    flex-direction: column
    justify-content: space-between
    box-sizing: border-box
  
    *
      box-sizing: inherit

  .site-body
    flex: 1 1 auto

img
  max-width: 100%
  vertical-align: middle
  border-style: none
  color: transparent

article, aside, footer, header, nav, section,
figcaption, figure, main, figure>img,
details, menu
  display: block
figure
  margin-left: 0
  margin-right: 0
summary
  display: list-item

hr
  display: block
  box-sizing: content-box
  width: 100%
  height: 0
  color: $grey-color-dark
  border: 0 none
  border-bottom: 1px solid currentcolor
  overflow: visible

figcaption
  font-size: $small-font-size

pre, code, kbd, samp
  font-family: monospace, monospace
  font-size: 1em

code, kbd
  background-color: #e7e7e7
  border-radius: 4px

kbd
  display: inline-block
  vertical-align: middle
  margin-left: 2px
  margin-right: 2px
  padding-left: .4em
  padding-right: .4em
  box-shadow: 0 2px 0 1px #ddd

h1, h2, h3, h4, h5, h6, p,
blockquote, pre, hr,
dl, dd, ul, ol, dl, figure,
%vertical-rhythm
  margin-top: $spacing-unit / 2
  margin-bottom: $spacing-unit / 2

@for $i from 1 through 6
  h#{$i}
    font-size: $base-font-size + $base-font-size / $i

    @if $i < 4
      line-height: $base-font-size + .1 * $i
      color: $brand-color

ul, ol
  &.seamless
    margin-left: 0
    margin-right: 0
    padding-left: 0
    list-style: none

li
  > ul, > ol
    margin-bottom: 0

%transition
  -webkit-font-smoothing: antialiased
  backface-visibility: hidden
  transform: translate3d(0, 0, 0)
  transform-style: preserve-3d
  transition: .3s ease-in-out

a
  @extend %transition
  color: $brand-color
  text-decoration: none
  background-color: transparent // normalize.css IE 10
  -webkit-text-decoration-skip: objects // normalize.css iOS 8+, Safari 8+
  outline-offset: .2em

  &:hover, &:focus, &:active
    color: $text-color
    text-decoration: underline

  &:focus
    text-decoration: none
    outline: 1px solid currentcolor

abbr[title]
  border-bottom: none // normalize.css Chrome 57-, FF 39-
  text-decoration: underline // normalize.css Chrome, Edge, IE, Opera, Safari
  text-decoration: underline dotted // normalize.css Chrome, Edge, IE, Opera, Safari
b, strong
  font-weight: bolder
dfn
  font-style: italic
mark
  background-color: #ff0
  color: $text-color
small
  font-size: $small-font-size
sub, sup
  font-size: $small-font-size * .8
  line-height: 0
  position: relative
  vertical-align: baseline
sub
  bottom: -0.25em
sup
  top: -0.5em
audio, video, canvas
  display: inline-block
audio:not([controls])
  display: none
  height: 0
svg:not(:root)
  overflow: hidden

blockquote
  padding-left: $spacing-unit / 2
  font-style: italic
  color: $grey-color-dark
  border-left: 4px solid $grey-color-light

  > :first-child
    margin-top: 0

  > :last-child
    margin-bottom: 0

pre, code
  font-size: 15px
  border: 1px solid $grey-color-light
  border-radius: 3px
  background-color: #eef

code
  padding: 1px 5px

pre
  padding: 8px 12px
  overflow-x: auto

  > code
    border: 0
    padding-right: 0
    padding-left: 0

table
  table-layout: fixed
  border-collapse: collapse
  width: 100%

  tr
    &:nth-of-type(odd)
      background: $grey-color-light

  th
    background: $grey-color
    color: #fff
    font-weight: bold

  th, td
    padding: 5px
    border: 1px solid #fff
    overflow: hidden

%clearfix 
  &:after 
    content: ""
    display: table
    clear: both

.sr-only
  position: absolute
  width: 1px
  height: 1px
  padding: 0
  margin: -1px
  overflow: hidden
  border: 0